// Variables sass
$white: hsl(0, 0%, 100%);
$primary: hsl(0, 100%, 70%);
$secondary: hsl(214, 71%, 9%);
$gray: hsl(0, 0%, 59%);
$small-gradiant-radial: radial-gradient(82.91% 82.91% at 34.95% -2.99%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%);
$large-gradiant-radial: radial-gradient(100% 100% at 50% 0%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%);
$base-font: "'source sans pro'", sans-serif;
$headline1: bold 32px/40.22px $base-font;
$headline2: bold 32px/37.5px $base-font;
$headline3: 600 18px/26px $base-font;
$headline4: bold 16px/20.11px $base-font;
$body1: 16px/26px $base-font;
$body2: 14px/26px $base-font;
$menu: bold 12px/15px $base-font;
$button: bold 14px/17.6px $base-font;
$form: 600 14px/16.41px $base-font;
// Mixins
@mixin grid-container($gap, $size) {
  display: grid;
  column-gap: $gap;
  grid-template-columns: repeat(auto-fill, minmax($size, 1fr));
}
// Guide Style
:root {
  --base-font: #{$base-font};
  --headline1: #{$headline1};
  --headline2: #{$headline2};
  --headline3: #{$headline3};
  --headline4: #{$headline4};
  --body1: #{$body1};
  --body2: #{$body2};
  --button: #{$button};
  --form-font: #{$form};
  --menu-font: #{$menu};
  --white: #{$white};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --gray: #{$gray};
  --image-small-gradiant: #{$small-gradiant-radial};
  --image-large-gradiant: #{$large-gradiant-radial};
}
/* Global styles */
html {
  scroll-behavior: smooth;
}
body {
  font: var(--body1);
  color: var(--secondary);
  margin: 0;
}
@font-face {
  font-family: 'Spin-Cycle-OT';
  src: url(fonts/spincycle_ot.otf);
}
/* Holberton Icons
   =========================================*/
@font-face {
  font-family: 'holberton_school-icon';
  src: url('fonts/holberton_school-icon.eot?sq4eq4');
  src: url('fonts/holberton_school-icon.eot?sq4eq4#iefix')
      format('embedded-opentype'),
    url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
    url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
    url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='holberton_school-icon-'],
[class*=' holberton_school-icon-'] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'holberton_school-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  font-size: 7rem;
  color: var(--primary);
}
.holberton_school-icon-ic {
  &_facebook:before {
    content: '\e908';
  }
  &_hearing:before {
    content: '\e909';
  }
  &_instagram:before {
    content: '\e90a';
  }
  &_music:before {
    content: '\e90d';
  }
  &_sound:before {
    content: '\e90e';
  }
  &_twitter:before {
    content: '\e90f';
  }
  
  &_video:before {
    content: '\e910';
  }
}
/* Wrapper */
.wrapper {
  max-inline-size: 1000px;
  inline-size: 335px;
  margin: 0 auto;
}
/* menu component 
   =========================*/
.menu {
  min-block-size: 92px;
  margin-block-end: 266px;
  &__list {
    display: none;
    list-style: none;
    inline-size: 100%;
    margin: 0;
    padding: 0;
  }
  &__item  {
    inline-size: 73px;
    margin-inline: auto;
    margin-block: 2rem;
    a {
      color: var(--white);
      text-decoration: none;
      text-transform: uppercase;
      font: var(--menu-font);
      &:hover {
        color: var(--primary);
      }
    }
  }
  &__container {
    padding-block-start: 29px;
    &:first-child {
      text-align-last: start;
    }
    input {
      visibility: hidden;
      position: absolute;
      &:checked {
        + .menu__icon {
          .menu__bar {
            background-color: unset;
            &::after {
              transform: rotate(-45deg);
              inset-block-start: 0;
              inline-size: 20px;
            }
            &::before {
              transform: rotate(45deg);
              inset-block-end: 0;
            }
          }
        }
        ~ .menu__list {
          display: block;
        }
      }
    }
  }
  &__icon {
    inline-size: 90px;
    block-size: 32px;
    display: inline-block;
    vertical-align: top;
    text-align: start;
  }
  &__bar {
    inline-size: 13px;
    position: relative;
    &, &::after, &::before {
      background-color: var(--white);
      block-size: 2px;
      display: inline-block;
      border-radius: 2px;
    }
    &::after, &::before {
      content: '';
      position: absolute;
      transform: rotate(0);
      transition: transform 0.2s ease-out;
      inset-inline-start: 0;
    }
    &::after {
      inline-size: 18px;
      inset-block-start: 4px;
    }
    &::before {
      inline-size: 20px;
      inset-block-end: 4px;
    }
  }
}
/* hero component
   =========================*/
.hero {
  background-image: var(--image-small-gradiant), url('./images/headphones_hero_1.jpg');
  background-size: 1611.54px 1074px;
  background-position: -425.27px -99px;
  background-repeat: no-repeat;
  max-block-size: 870px;
  min-block-size: 800px;
  padding-block-end: 106px;
  color: var(--white);
  text-align: center;
  &__title {
    font: var(--headline1);
    margin-block: 0;
  }
  &__tagline {
    font: var(--headline4);
    inline-size: 279px;
    margin-inline: auto;
    margin-block-start: 5px;
  }
  &__description {
    margin-block-start: 65px;
  }
}
/* button component
   =========================*/
.btn {
  border: none;
  border-radius: 22px;
  font: var(--button);
  color: var(--white);
  block-size: 44px;
  inline-size: 162px;
  text-transform: uppercase;
  &:hover, &:active {
    opacity: 0.9;
  }
  &--primary {
    background-color: var(--primary);
  }
  &--shadow {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
  }
}

/* Services (what we do)
   =========================*/
.service {
  margin-block-end: 96px;
  max-inline-size: 207px;
  margin-inline: auto;
  &__title {
    font: var(--headline3);
  }
  &__description {
    font: var(--body2);
  }
  &:hover > em {
    transform: scale(1.3);
  }
  &s {
    min-block-size: 694px;
    max-block-size: 1638px;
    max-inline-size: 100%;
    text-align: center;
    &__container {
      margin-block: 110px;
    }
    &__title {
    font: var(--headline2);
    margin-block-start: 110px;
    margin-block-end: 40px;
    }
    &__description {
      max-inline-size: 637px;
      margin-inline: auto;
    }
  }
}
/* Results components
   =========================*/
.result {
  block-size: 190px;
  inline-size: 190px;
  margin-block-start: 42px;
  margin-inline: auto;
  &__pentagon {
    $padding_pentagon: 70px;
    $width_pentagon: 180px;
    background-color: var(--primary);
    block-size: $width_pentagon - $padding_pentagon;
    inline-size: 100%;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    padding-block-start: $padding_pentagon;
    em {
      font-size: 2.875rem;
      font-weight: 600;
      font-style: unset;
    }
    &:hover {
      transform: rotate3d(1, 30, 1, 45deg);
    }
  }
  &s {
    background-color: var(--secondary);
    background-image: url('./images/headphones_hero_2.jpg');
    background-repeat: no-repeat;
    background-position: center -13.35%;
    max-inline-size: 100%;
    min-block-size: 650px;
    text-align: center;
    color: var(--white);
    padding-block-end: 69px;
    padding-block-start: 125px;
    &__title {
      font: var(--headline2);
      margin-block-end: 46px;
    }
    &__description {
      max-inline-size: 637px;
      margin-inline-end: 77px;
      margin-inline: auto;
    }
  }
}
/* contact form
=========================*/
.contact {
  $padding-start:110px;
  $padding-end:130px;
  $height: 613px - $padding-end - $padding-start;
  block-size: $height;
  padding-block-start: $padding-start;
  padding-block-end: $padding-end;
  &__title {
    font: var(--headline2);
  }
  &__form {
    text-align: center;
    block-size: 373px;
    inline-size: 335px;
    margin-inline: auto;
  }
  &__label {
    position: relative;
    span {
      display: block;
      font: var(--form-font);
      text-align: start;
      transform: translateY(-72px) scale(1);
      transition: transform 0.2s ease-out;
    }
    input {
      border: none;
      background-color: unset;
      border-bottom: 1px solid var(--gray);
      inline-size: 100%;
      margin-block-end: 45px;
      &:focus + span{
        transform: translate(-32px, -80px) scale(.8);
      }
    }
  }
}
/* Footer
=========================*/
.footer {
  $padding-start: 48px;
  $padding-end: 34px;
  $height: 249px - $padding-start - $padding-end;
  block-size: $height;
  background-color: var(--secondary);
  padding-block-start: $padding-start;
  padding-block-end: $padding-end;
  text-align: center;
}
.social {
  inline-size: 130px;
  block-size: 30px;
  margin-inline: auto;
  margin-block: 45px;
  display: flex;
  justify-content: space-between;
  &__icon {
    color: var(--white);
    font-size: 1.875rem;
  }
}
.copyright {
  color: var(--white);
  opacity: 0.3;
}
/* Media Queries
=========================*/
@media screen and (min-width: 768px) {
  .wrapper {
    inline-size: 633px;
  }
  .menu {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block-start: 29px;
    }
    &__list {
      display: inline-flex;
      justify-content: space-between;
      inline-size: 255px;
    }
    &__icon {
      display: none;
    }
  }
  .hero {
    background-image: url('./images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1400px 933px;
    &__tagline {
      margin-block-end: 40px;
      inline-size: 100%;
    }
    &__description {
      inline-size: 637px;
      margin-inline: auto;
    }
  }
  .services {
    &__container {
      @include grid-container(29px, 207px);
    }
  }
  .results {
    background-color: unset;
    background-size: cover;
    padding-block-start: 140px;
    padding-block-end: 53px;
    &__container {
      @include grid-container(36px, 190px)
    }
  }
  .footer {
    $padding-start: 110px;
    $padding-end: 35px;
    $height: 249px - $padding-start - $padding-end;
    block-size: $height;
    padding-block-start: $padding-start;
    padding-block-end: $padding-end;
    &__container {
      inline-size: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-end: 60px;
    }
  }
  .social {
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    inline-size: 1000px;
  }
  .hero {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    inline-size: 100%;
  }
}
